<!DOCTYPE html>
<html>
    <head>
        <title>view result examiner</title>
		<link rel="icon" sizes="192x192" href="icon.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1">


      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">        <!--Custom css -->
      <link rel="stylesheet" href="assets/css/style.css">

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

      <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script> 
        

</head>
<body>

  <!--Navigation bar-->
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark " >
    <a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/testrightexam/testrightexam.github.io/master/views/logo.png" height="50px;"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
		 <li class="nav-item">
            <a class="nav-link" href="/feedback" >Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout" >Logout</a>
          </li>
        </ul>
      </div>  
  </nav>
  <div class="container col-sm-10" style="margin-bottom:10px;">
    <br>
    <br>
    <h2>Results of <%= TestId %></h2>
    <hr>
    <!--<div class="form-group">
        <label for="inst">Search By Student Name</label>
        <select class="selectpicker" name="insttype" data-style="btn" data-width="100%"
          title="Name of Student" data-live-search="true">
          <option value="Hema">Hema</option>
          <option value="Rekha">Rekha</option>
          <option value="Jaya">Jaya</option>
          <option value="Aur Sushma">Aur Sushma</option>
        </select>
      </div>-->
   <br>
      <div class="table-responsive container">
       <h4><% if(data.length==0) { %> Not Attempted By AnyOne Yet ! <% } else { %>
	   Average Marks :
	  <% var avg =0 %>
	   <% for(var i=0; i<data.length; i++) { %>
		<% avg+=data[i].Percentage %>
	   <% } %>
	   <%= avg/data.length %>
	   <% } %></h4>
        <br>
        <table class="table  table table-primary table-hover">
          <thead>
            <tr>
              <th>Sr. No</th>
              <th>Student Email-ID</th>
              <th>Attempted Questions</th>
              <th>Marks obtained</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
		  <%= data.Student_Email %>
		  <% for(var i=0; i<data.length; i++) { %>
		  <form action="" method="post">
		  <input type="text" name="ExamId" value="<%=data[i].Test_id%>" hidden/>
		  <input type="text" name="Email" value="<%=data[i].Student_Email%>" hidden/>
            <tr>
              <td><%= i+1 %></td>
              <td><%= data[i].Student_Email %></td>
              <td><%= data[i].Attempted %></td>
              <td><%= data[i].Percentage %>%</td>
              <td><button type="submit" formaction="Result" class="btn btn-primary  ">View Result</button></td>
            </tr>
			</form>
          <% } %>  
          </tbody>
        </table>
      </div>
      

</div>
</body>
</html>