<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <link rel="icon" sizes="192x192" href="icon.png">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css"
    rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
  <!--Custom css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="tags/tagsinput.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="tags/tagsinput.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script>


</head>

<body>

  <!--Navigation bar-->
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark ">
    <a class="navbar-brand" href="/"><img
        src="https://raw.githubusercontent.com/testrightexam/testrightexam.github.io/master/views/logo.png"
        height="50px;" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container col-sm-10" style="margin-bottom:10px;">

    <br>
    <br>

    <h2>Dashboard</h2>
    <hr>


    <h4 style="max-width:100%;"><%= data.Name %> ( <%= data.Email %> )</h4>
    <address>
      <% if(data.InstituteName) { %>
      <%=  data.InstituteName %>, <br><b>Address: </b><%= data.InstituteAddress  %>, <%= data.InstituteCountry %>
      <br><b>Contact: </b><%= data.StudentContact %>


      <% } else { %>
      <button type="button" onclick="location.href = '/SaveStudentProfile';" class="btn btn-primary float-left">Complete
        Your Profile</button>
      <br><br>
      <% } %>
    </address>
    <hr>

    <form action="/RegisterTest" class="w-100 h-100 row align-items-center" method="post">
      <input type="text" placeholder="Enter Test Id" id="examid" name="examid" class="form-control w-50 ml-auto" />
      <button type="submit" class="btn btn-primary mr-auto ml-1">Enroll Yourself</button>
    </form>
    <hr><br>
    <p class="text-center">You can practice topics by searching below:</p>
    <form action="/PracticeTest" style="margin: 0 8vw 0 8vw" method="post">
      <input type="text" placeholder="maths,functions,algebra" id="practicetags" name="practicetags"
        class="form-control w-50 ml-auto" data-role="tagsinput" />
        <br><br>
      <div class="container">
        <div class="row">
          <div class="col text-center"><button type="submit" class="btn btn-primary mr-auto ml-1">Practice</button></div>
        </div>
      </div>
    </form>

    <hr>
    <h4>Your Exams
    </h4>
    <br>

    <% var date=new Date(); 
    for(var i=0; i<data2.length; i++) {

      if(data2[i].showCardBlue == true){
        %>
    <div class="card list-group-item-primary text-dark">
      <%
      }else{
        if(data2[i].canBegin == true){
          %>
      <div class="card list-group-item-primary text-dark">
        <%
        }else{
          %>
        <div class="card bg-dark text-white">
          <%
        }
      }
        %>
          <div class="card-body">
            <form action="" method="post">
              <h4><%= data2[i].Test_title %></h4>
              <input type="text" value="<%= data2[i].t_id %>" name="ExamId" style="display:none" />
              <b>TestID :- <%= data2[i].t_id %></b>
              <br>
              Date : <%= data2[i].Date %>
              <br>
              <br>
              <% 
              if(data2[i].canBegin == true && data.RegisteredTests[i].status=="NotAttempted"){
                %>
              <button type="submit" formaction="/StartTest" formmethod="post" class="btn btn-primary float-right">Start
                Test</button>
              <%
              }else{
                if(data2[i].Date > date_1 || data2[i].showCardBlue == true){
                  %>
              <button type="submit" class="btn btn-secondary float-right" disabled>Start Test</button>
              <%
				  }else if(data.RegisteredTests[i].status=="Attempted"){
                  %>
              <button type="submit" formaction="/Result" class="btn btn-primary float-right">View Results</button>

              <%
                }else if(data.RegisteredTests[i].status=="NotAttempted"){
                  %>
              <button type="button" class="btn btn-primary float-right" disabled>Not Attempted</button>

              <%
                }else{
                  %>
              <button type="submit" formaction="/Result" class="btn btn-primary float-right">View Results</button>
              <%
                }
              }
            %>
            </form>
          </div>
        </div>

        <br>
        <% } 
    %>
      </div>
      <script>

        function opentest() {
          var url = 'RegisterTest';
          location.replace(url);
        }

      </script>
      <!--Start of Tawk.to Script-->
      <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
          var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
          s1.async = true;
          s1.src = 'https://embed.tawk.to/5cb4620bd6e05b735b429fc4/default';
          s1.charset = 'UTF-8';
          s1.setAttribute('crossorigin', '*');
          s0.parentNode.insertBefore(s1, s0);
        })();
      </script>
      <!--End of Tawk.to Script-->
</body>

</html>